## Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
myenv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/
.tox/
.coverage
coverage.xml
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Mypy
.mypy_cache/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Logs
*.log

# SQLite
*.sqlite3

# dotenv
.env
.venv
